<h2>Добавить новый пост</h2>
<p>
	<form action="/newpost" method="post" role="form">
	  <textarea name="content" class="form-control" rows="6" placeholder="Введите текст..."></textarea>
	  <br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>
